{
  // "root": true,
  "extends": ["ryo", "ryo/react", "ryo/jsx-a11y", "ryo/jest"],
  "rules": {
    "babel/camelcase": "off",
    "babel/object-curly-spacing": "off",
    "babel/quotes": "off",
    "consistent-return": "off",
    "func-names": "off",
    "import/no-unresolved": "off",
    "import/order": "error",
    "jsx-a11y/label-has-for": "off",
    "max-lines-per-function": "off",
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "react/display-names": "off",
    "react/jsx-pascal-case": "off",
    "react/prop-types": "off",
    "react/no-unused-prop-types": "warn"
  }
}
