@import './variables/variables';
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 14px;
  margin: 0 0 10px;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #e5e5e5;
  color: $black-color;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

legend {
  border-bottom: 0;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: darken($link-color, 5%);
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $checkboxes-text-color;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 100%;
}
form {
  margin-bottom: 1.125rem;
}

figure {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  img {
    border-radius: 5px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

strong {
  position: relative;
}

strong::before {
  /* Highlight color */
  background-color: #ff6600;
  background-image: linear-gradient(25deg, #ff6600 0%, #ffc526 110%);

  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: 80%;
  left: -2px;
  bottom: 1px;
  z-index: -1;
  transform: rotate(-1deg);
}

.calendar {
  height: 100%;
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.rbc-calendar {
  width: 100%;
}

.rbc-time-view {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.rbc-agenda-view {
  border-radius: 5px;
}

.rbc-agenda-content table {
  border-radius: 5px;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.rbc-month-view {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: auto;
}

.rbc-toolbar {
  // max-width: 90%;
  flex-flow: row nowrap;
  z-index: 12;
  @media (max-width: 576px) {
    flex-flow: column;
  }
}

.calendarContainer {
  height: 60vh;
  z-index: 12;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.PostCategoriesNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.PostCategoriesNav > * + * {
  margin-left: 1rem;
}

.PostCategoriesNav input[type='text'] {
  right: 0;
  position: absolute;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.PostCategoriesNav input[type='text']:focus {
  outline: none;
}

.PostCategoriesNav input[type='text']::placeholder {
  color: black;
}

@media (max-width: 600px) {
  .PostCategoriesNav input[type='text'] {
    position: relative;
    width: 100%;
  }
}

.latest-events {
  margin-left: 0;
  li {
    list-style: none;
    margin-bottom: 10px;
    .title {
      color: #000;
      font-size: 1.25rem;
    }
    p {
      color: #777;
      font-size: 0.9rem;
    }
  }
}

.event-title {
  color: #000;
  font-size: 1.5rem;
}

.mapboxgl-map {
  border-radius: 5px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  visibility: hidden;
  display: none;
}

a.mapboxgl-ctrl-logo {
  display: none;
  visibility: hidden;
}
